## Load datasets in dataframe

In [1]:
import pandas as pd
import codecs
import nltk 
from nltk.tokenize import word_tokenize
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/jw156/Ironhack/Final_Project/NHS_headlines/scrape/daily_mail_final_df.csv")
data = data.drop(['Unnamed: 0'], axis=1)

In [3]:
data

,date,headline,weblink
0,18 January 2020,Doctors fear immunotherapy could actually make...,https://www.dailymail.co.uk/health/article-790...
1,6 April 2020,James Arthur jokes he's 'so happy hats were in...,https://www.dailymail.co.uk/tvshowbiz/article-...
2,15 April 2020,The Duke of Westminster gives £12.5m to the NH...,https://www.dailymail.co.uk/news/article-82208...
3,25 July 2020,Covid crisis is 'destroying women's careers' a...,https://www.dailymail.co.uk/news/article-85586...
4,16 December 2019,"Student, 21, battles sepsis after she caught a...",https://www.dailymail.co.uk/health/article-779...
...,...,...,...
3246,9 December 2019,Thrifty father-of-three reveals how he saves £...,https://www.dailymail.co.uk/femail/article-773...
3247,20 December 2019,The Cure viewers brand the show a 'heartbreaki...,https://www.dailymail.co.uk/femail/article-781...
3248,26 March 2020,SARAH VINE: When we look back on these extraor...,https://www.dailymail.co.uk/debate/article-815...
3249,25 September 2019,Men who struggle to become fathers are up to 6...,https://www.dailymail.co.uk/health/article-750...
3250,16 May 2020,'It feels good to do something so useful at a ...,https://www.dailymail.co.uk/tvshowbiz/article-...

# Removal Punctuation

In [4]:
import string
import re

In [5]:
data['headline'] = data.headline.apply(lambda x: re.sub(r'[^\w\s]', '',x))

In [6]:
data

,date,headline,weblink
0,18 January 2020,Doctors fear immunotherapy could actually make...,https://www.dailymail.co.uk/health/article-790...
1,6 April 2020,James Arthur jokes hes so happy hats were inve...,https://www.dailymail.co.uk/tvshowbiz/article-...
2,15 April 2020,The Duke of Westminster gives 125m to the NHS ...,https://www.dailymail.co.uk/news/article-82208...
3,25 July 2020,Covid crisis is destroying womens careers acco...,https://www.dailymail.co.uk/news/article-85586...
4,16 December 2019,Student 21 battles sepsis after she caught an ...,https://www.dailymail.co.uk/health/article-779...
...,...,...,...
3246,9 December 2019,Thrifty fatherofthree reveals how he saves 200...,https://www.dailymail.co.uk/femail/article-773...
3247,20 December 2019,The Cure viewers brand the show a heartbreakin...,https://www.dailymail.co.uk/femail/article-781...
3248,26 March 2020,SARAH VINE When we look back on these extraord...,https://www.dailymail.co.uk/debate/article-815...
3249,25 September 2019,Men who struggle to become fathers are up to 6...,https://www.dailymail.co.uk/health/article-750...
3250,16 May 2020,It feels good to do something so useful at a t...,https://www.dailymail.co.uk/tvshowbiz/article-...

# Cleaning vocab

In [7]:
# make all lowercase

In [8]:
data['headline'] = data['headline'].str.lower()

In [9]:
# change all AE to ER

In [10]:
data['headline'] = data['headline'].str.replace('ae', 'er')

In [11]:
# change all NHS to 'national health service'

In [12]:
data['headline'] = data['headline'].str.replace('nhs', 'national health service')
# cleaned_headlines = [w.replace('nhs', 'national health service') for w in er_headlines]

In [13]:
data

,date,headline,weblink
0,18 January 2020,doctors fear immunotherapy could actually make...,https://www.dailymail.co.uk/health/article-790...
1,6 April 2020,james arthur jokes hes so happy hats were inve...,https://www.dailymail.co.uk/tvshowbiz/article-...
2,15 April 2020,the duke of westminster gives 125m to the nati...,https://www.dailymail.co.uk/news/article-82208...
3,25 July 2020,covid crisis is destroying womens careers acco...,https://www.dailymail.co.uk/news/article-85586...
4,16 December 2019,student 21 battles sepsis after she caught an ...,https://www.dailymail.co.uk/health/article-779...
...,...,...,...
3246,9 December 2019,thrifty fatherofthree reveals how he saves 200...,https://www.dailymail.co.uk/femail/article-773...
3247,20 December 2019,the cure viewers brand the show a heartbreakin...,https://www.dailymail.co.uk/femail/article-781...
3248,26 March 2020,sarah vine when we look back on these extraord...,https://www.dailymail.co.uk/debate/article-815...
3249,25 September 2019,men who struggle to become fathers are up to 6...,https://www.dailymail.co.uk/health/article-750...
3250,16 May 2020,it feels good to do something so useful at a t...,https://www.dailymail.co.uk/tvshowbiz/article-...

# Convert Numbers to Words

In [14]:
# Use regex to split int from str

In [15]:
import re

In [16]:
def split_num_from_str(x):
    pattern = r'(-?[0-9]+\.?[0-9]*)'
    for word in x:
        f = ' '.join(segment for segment in re.split(pattern, x) if segment)
    return f

In [17]:
data

,date,headline,weblink
0,18 January 2020,doctors fear immunotherapy could actually make...,https://www.dailymail.co.uk/health/article-790...
1,6 April 2020,james arthur jokes hes so happy hats were inve...,https://www.dailymail.co.uk/tvshowbiz/article-...
2,15 April 2020,the duke of westminster gives 125m to the nati...,https://www.dailymail.co.uk/news/article-82208...
3,25 July 2020,covid crisis is destroying womens careers acco...,https://www.dailymail.co.uk/news/article-85586...
4,16 December 2019,student 21 battles sepsis after she caught an ...,https://www.dailymail.co.uk/health/article-779...
...,...,...,...
3246,9 December 2019,thrifty fatherofthree reveals how he saves 200...,https://www.dailymail.co.uk/femail/article-773...
3247,20 December 2019,the cure viewers brand the show a heartbreakin...,https://www.dailymail.co.uk/femail/article-781...
3248,26 March 2020,sarah vine when we look back on these extraord...,https://www.dailymail.co.uk/debate/article-815...
3249,25 September 2019,men who struggle to become fathers are up to 6...,https://www.dailymail.co.uk/health/article-750...
3250,16 May 2020,it feels good to do something so useful at a t...,https://www.dailymail.co.uk/tvshowbiz/article-...

In [18]:
data['headline'] = data.headline.apply(split_num_from_str)

In [19]:
data

,date,headline,weblink
0,18 January 2020,doctors fear immunotherapy could actually make...,https://www.dailymail.co.uk/health/article-790...
1,6 April 2020,james arthur jokes hes so happy hats were inve...,https://www.dailymail.co.uk/tvshowbiz/article-...
2,15 April 2020,the duke of westminster gives 125 m to the na...,https://www.dailymail.co.uk/news/article-82208...
3,25 July 2020,covid crisis is destroying womens careers acco...,https://www.dailymail.co.uk/news/article-85586...
4,16 December 2019,student 21 battles sepsis after she caught a...,https://www.dailymail.co.uk/health/article-779...
...,...,...,...
3246,9 December 2019,thrifty fatherofthree reveals how he saves 20...,https://www.dailymail.co.uk/femail/article-773...
3247,20 December 2019,the cure viewers brand the show a heartbreakin...,https://www.dailymail.co.uk/femail/article-781...
3248,26 March 2020,sarah vine when we look back on these extraord...,https://www.dailymail.co.uk/debate/article-815...
3249,25 September 2019,men who struggle to become fathers are up to ...,https://www.dailymail.co.uk/health/article-750...
3250,16 May 2020,it feels good to do something so useful at a t...,https://www.dailymail.co.uk/tvshowbiz/article-...

In [20]:
# Remove all £$Euro signs

In [21]:
data['headline'] = data['headline'].str.replace('£', '')
data['headline'] = data['headline'].str.replace('€', '')
data['headline'] = data['headline'].str.replace('$', '')
data['headline'] = data['headline'].str.replace('ayear', 'a year')
data['headline'] = data['headline'].str.replace('yearold', 'year old')

In [22]:
# numbers converted to words

In [23]:
from num2words import num2words

In [24]:
def convert_num_to_words(headline):
    headline = ' '.join([num2words(i) if i.isdigit() else i for i in headline.split()])
    return headline

In [25]:
data['headline'] = data['headline'].apply(convert_num_to_words)

In [26]:
data

,date,headline,weblink
0,18 January 2020,doctors fear immunotherapy could actually make...,https://www.dailymail.co.uk/health/article-790...
1,6 April 2020,james arthur jokes hes so happy hats were inve...,https://www.dailymail.co.uk/tvshowbiz/article-...
2,15 April 2020,the duke of westminster gives one hundred and ...,https://www.dailymail.co.uk/news/article-82208...
3,25 July 2020,covid crisis is destroying womens careers acco...,https://www.dailymail.co.uk/news/article-85586...
4,16 December 2019,student twenty-one battles sepsis after she ca...,https://www.dailymail.co.uk/health/article-779...
...,...,...,...
3246,9 December 2019,thrifty fatherofthree reveals how he saves two...,https://www.dailymail.co.uk/femail/article-773...
3247,20 December 2019,the cure viewers brand the show a heartbreakin...,https://www.dailymail.co.uk/femail/article-781...
3248,26 March 2020,sarah vine when we look back on these extraord...,https://www.dailymail.co.uk/debate/article-815...
3249,25 September 2019,men who struggle to become fathers are up to s...,https://www.dailymail.co.uk/health/article-750...
3250,16 May 2020,it feels good to do something so useful at a t...,https://www.dailymail.co.uk/tvshowbiz/article-...

# Inverse Document Frequency (IDF)

In [27]:
def sentiment_anal(hedline):
    from nltk.sentiment.vader import SentimentIntensityAnalyzer 
    sia = SentimentIntensityAnalyzer()
    sentiment = (sia.polarity_scores(hedline)['compound'])
    return sentiment

In [28]:
data['overall_sentiment'] = data['headline'].apply(sentiment_anal)

In [29]:
data

,date,headline,weblink,overall_sentiment
0,18 January 2020,doctors fear immunotherapy could actually make...,https://www.dailymail.co.uk/health/article-790...,-0.8945
1,6 April 2020,james arthur jokes hes so happy hats were inve...,https://www.dailymail.co.uk/tvshowbiz/article-...,0.7178
2,15 April 2020,the duke of westminster gives one hundred and ...,https://www.dailymail.co.uk/news/article-82208...,-0.3818
3,25 July 2020,covid crisis is destroying womens careers acco...,https://www.dailymail.co.uk/news/article-85586...,-0.8271
4,16 December 2019,student twenty-one battles sepsis after she ca...,https://www.dailymail.co.uk/health/article-779...,0.0258
...,...,...,...,...
3246,9 December 2019,thrifty fatherofthree reveals how he saves two...,https://www.dailymail.co.uk/femail/article-773...,0.0000
3247,20 December 2019,the cure viewers brand the show a heartbreakin...,https://www.dailymail.co.uk/femail/article-781...,-0.8442
3248,26 March 2020,sarah vine when we look back on these extraord...,https://www.dailymail.co.uk/debate/article-815...,-0.4019
3249,25 September 2019,men who struggle to become fathers are up to s...,https://www.dailymail.co.uk/health/article-750...,-0.7717
3250,16 May 2020,it feels good to do something so useful at a t...,https://www.dailymail.co.uk/tvshowbiz/article-...,0.8966

# Datetime Object

In [30]:
from datetime import datetime

In [31]:
data = data[data['date'] != 'No date given']

In [32]:
def date_times(x):
    new_date = x[1:-1]
    date = datetime.strptime(new_date, "%d %B %Y").date()        
    return date

def week_num(x):
    week = x.isocalendar()[1]
    return week

def year(x):
    year = x.year
    return year

def week_year(x):
    week = x.isocalendar()[1]
    year = x.year
    unique_key = str(year) + str("-") + str(week)
    return unique_key

def month_year(x):
    month = x.month
    year = x.year
    unique_key = str(year) + str("-") + str(month)
    return unique_key

In [33]:
data['date'] = data['date'].apply(date_times)

<ipython-input-33-c9fdb8294289>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['date'].apply(date_times)

In [34]:
data["week"]=data["date"].apply(week_num)

<ipython-input-34-a2817e611fe7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["week"]=data["date"].apply(week_num)

In [35]:
data["year"]=data["date"].apply(year)

<ipython-input-35-4b9c8b6757ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["year"]=data["date"].apply(year)

In [36]:
data["week_year"]=data["date"].apply(week_year)

<ipython-input-36-a968cab8ebbd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["week_year"]=data["date"].apply(week_year)

In [37]:
data["month_year"]=data["date"].apply(month_year)

<ipython-input-37-25c6a2524de6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["month_year"]=data["date"].apply(month_year)

In [39]:
data['median_week_year_rating'] = data.groupby('week_year', observed=True)['overall_sentiment'].transform('median')
data['median_month_year_rating'] = data.groupby('month_year', observed=True)['overall_sentiment'].transform('median')
data['mode_week_year_rating'] = data.groupby('week_year', observed=True)['overall_sentiment'].transform('mean')
data['mode_month_year_rating'] = data.groupby('month_year', observed=True)['overall_sentiment'].transform('mean')

<ipython-input-39-332fd8fffc5a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['median_week_year_rating'] = data.groupby('week_year', observed=True)['overall_sentiment'].transform('median')
<ipython-input-39-332fd8fffc5a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['median_month_year_rating'] = data.groupby('month_year', observed=True)['overall_sentiment'].transform('median')
<ipython-input-39-332fd8fffc5a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['mode_week_year_rating'] = data.groupby('week_year', observed=True)['overall_sentiment'].transform('mean')
<ipython-input-39-332fd8fffc5a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['mode_month_year_rating'] = data.groupby('month_year', observed=True)['overall_sentiment'].transform('mean')

In [44]:
data[data['']==unique()]

NameError: name 'unique' is not defined

In [ ]:
data['average_rating'].unique()

# EDA

In [ ]:
n

# Time Series

In [42]:
from matplotlib import pyplot

In [ ]:
df.plot()
pyplot.show()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data.sort_values(by='date', inplace=True)
data.index = pd.to_datetime(data['date'])
data['mean'] = data['overall_sentiment'].expanding().mean()
# df['rolling'] = df['overall_sentiment'].rolling('6h').mean()

In [ ]:
fig = plt.figure(figsize=(20,5))
ax = fig.add_subplot(111)
ax.scatter(data['date'],data['overall_sentiment'], label='Headline Sentiment')
ax.plot(data['date'],data['mean'], color='y', label='Expanding Mean')